
@{
    ViewBag.Title = "Index";
}


<style>
    .table td, .table th {
        padding: 0.50rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        font-size: 12px;
    }
</style>

<style>
    .table td, .table th {
        padding: 0.50rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        font-size: 12px;
    }

    #example-table thead {
        background-color: #BE7833;
        position: sticky;
        z-index: 1024;
        color: white;
        top: 0;
    }

    .table-responsive {
        max-height: 400px;
        overflow-y: auto;
    }
</style>

<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    .error {
        color: Red;
    }

    #PAN {
        text-transform: uppercase;
    }

        #PAN::placeholder {
            text-transform: none;
        }

    #GSTN {
        text-transform: uppercase;
    }

        #GSTN::placeholder {
            text-transform: none;
        }

    #TIN {
        text-transform: uppercase;
    }

        #TIN::placeholder {
            text-transform: none;
        }
</style>

<section ng-controller="CompanyMasterCtrl">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-1">
                                <a ng-click="GoToPreviousNextPage('Previous')" class="btn btn-xs" style="background-color: green; color: white "><span class="fa fa-arrow-left"></span></a>
                            </div>
                            <div class="col-lg-9" style="margin-left:-50px">
                                <h3 class="card-title"><b>Company Master</b></h3>
                            </div>
                            <div class="col-lg-2" style="text-align:center">
                                <button type="button" class="btn btn-sm pull-left" style="background-color: green; color: white" data-toggle="modal" ng-click="AdminClick()">Add Company</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-3"></div> <div class="col-3"></div>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="Search Company" ng-model="FARMER_SEARCH" ng-keyup="SearchAdmin()">
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="example-table" style="font-size: 0.9rem;color:black;">
                            <thead>
                                <tr style="background-image: linear-gradient(to right,#13b757f2,#eba60a); color: black ">
                                    <th>#</th>
                                    <th>Company Name</th>
                                    <th>Owner Name</th>
                                    <th>Address</th>
                                    <th>Contact No.</th>
                                    <th>Status</th>
                                    <th>Reg Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Admin  in AdminList">
                                    <td>{{page*30+$index+1}}</td>
                                    <td><a href="~/Company_Master/CompanyDetails/{{Admin.COMPANY_ID}}">{{Admin.COMPANY_NAME}}</a> </td>
                                    <td>{{Admin.AUTHORITY_NAME}}</td>
                                    <td>{{Admin.COMPANY_REG_ADDRESS}}</td>
                                    <td>{{Admin.MOBILE_NO}}</td>
                                    <td><a href="" ng-confirm-click="Do you want to change status ?" confirmed-click="ChangeStatus(Admin)"><b ng-style="Admin.STATUS=='Active'?{'color':'green'}:{'color':'red'}">{{Admin.STATUS}}</b></a></td>
                                    <td>{{Admin.REG_DATE}}</td>
                                    <td>
                                        <a data-toggle="modal" ng-click="getForUpdate(Admin)" title="Update" class="btn btn-xs btn-success">Edit </a>
                                    </td>

                                </tr>
                                <tr ng-if="!pager.pages.length">
                                    <td colspan="8" style="color:black; text-align:center;"><h5><b>No record found!</b></h5></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul ng-if="pager.pages.length" class="pagination" style="margin-left:30px;">
                        <li ng-class="{disabled:pager.currentPage === 1}">
                            <a ng-click="setPage(1)">First</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === 1}">
                            <span ng-if="pager.currentPage!=1"><a ng-click="setPage(pager.currentPage - 1)">Previous</a></span>
                            <span ng-if="pager.currentPage==1">Previous</span>
                        </li>
                        <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                            <a ng-click="setPage(page)">{{page}}</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                            <a ng-click="setPage(pager.currentPage + 1)">Next</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                            <a ng-click="setPage(pager.totalPages)">Last</a>
                        </li>
                    </ul>
                </div>
                <div class="modal fade" id="Admin_Addupdate">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header" style="background-image: linear-gradient(to right,#13b757f2,#eba60a); color: white; padding: 10px; ">

                                <h4 class="modal-title"><b>{{Admin_Action}} </b></h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="card-body">

                                    <form name="AddPayment" ng-submit="AddPayment(AddPayment.$valid)" data-toggle="validator" role="form">
                                        <div class="row">
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Company Name:</label><label style="color:red;">*</label>
                                                <input type="text" name="COMPANY_NAME" ng-model="COMPANY_NAME" maxlength="200" class="form-control" placeholder="Enter Company Name" required />
                                                <span ng-show="(AddPayment.COMPANY_NAME.$invalid && (AddPayment.COMPANY_NAME.$touched || AddPayment.COMPANY_NAME.$dirty))">
                                                    <span class="error" ng-show="AddPayment.COMPANY_NAME.$error.required">Company Name is required</span>
                                                </span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Owner Name:</label><label style="color:red;">*</label>
                                                <input type="text" name="AUTHORITY_NAME" ng-model="AUTHORITY_NAME" maxlength="200" @*ng-pattern="/^[A-Za-z][A-Za-z\s]*$/"*@ class="form-control" placeholder="Enter Owner Name" required />
                                                <span ng-show="(AddPayment.AUTHORITY_NAME.$invalid && (AddPayment.AUTHORITY_NAME.$touched || AddPayment.AUTHORITY_NAME.$dirty))">
                                                    <span class="error" ng-show="AddPayment.AUTHORITY_NAME.$error.required">Owner Name is required</span>
                                                    <span class="error" ng-show="AddPayment.AUTHORITY_NAME.$error.pattern">Enter valid Owner Name</span>
                                                </span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Contact No:</label><label style="color:red;">*</label>
                                                <input type="number" name="MOBILE_NO" ng-model="MOBILE_NO" onkeydown="if(this.key==='.' || this.key==='-' ||  this.key==='+' ){this.preventDefault();} javascript: return this.keyCode == 69 ? false : true" class="form-control ng-pristine ng-valid ng-touched" id="txt_contact_no" autocomplete="off" ng-pattern="/^([1-9]\d*)$/" onkeypress="if(this.value.length==10) return false;" onpaste="return false" minlength="10" maxlength="10" placeholder="Enter Contact No" required />
                                                <span ng-show="(AddPayment.MOBILE_NO.$invalid && (AddPayment.MOBILE_NO.$touched || AddPayment.MOBILE_NO.$dirty))">
                                                    <span class="error" ng-show="AddPayment.MOBILE_NO.$error.required">Contact No. is required</span>
                                                    <span class="error" ng-show="AddPayment.MOBILE_NO.$error.number">Enter numbers only</span>
                                                    <span class="error" ng-show="AddPayment.MOBILE_NO.$error.pattern">Enter valid Contact No. </span>
                                                </span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Alternate Contact No:</label>
                                                <input type="number" name="ALT_MOBILE_NO" ng-model="ALT_MOBILE_NO" id="txt_contact_no2" onkeydown="if(this.key==='.' || this.key==='-' ||  this.key==='+' ){this.preventDefault();} javascript: return this.keyCode == 69 ? false : true" class="form-control ng-pristine ng-valid ng-touched" autocomplete="off" maxlength="10" ng-pattern="/^([1-9]\d*)$/" onkeypress="if(this.value.length==10) return false;" onpaste="return false" placeholder="Enter Alternate Contact No" />
                                                <span ng-show="(AddPayment.ALT_MOBILE_NO.$invalid && (AddPayment.ALT_MOBILE_NO.$touched || AddPayment.ALT_MOBILE_NO.$dirty))">
                                                    <span class="error" ng-show="AddPayment.ALT_MOBILE_NO.$error.required">Alternate Contact No. is required</span>
                                                    <span class="error" ng-show="AddPayment.ALT_MOBILE_NO.$error.number">Enter numbers only</span>
                                                    <span class="error" ng-show="AddPayment.ALT_MOBILE_NO.$error.pattern">Enter valid Alternate Contact No. </span>
                                                </span>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">Email Id.:</label><label style="color:red;">*</label>
                                                <input type="text" name="EMAIL_ID" maxlength="100" ng-model="EMAIL_ID" class="form-control" placeholder="Enter Email Id" required />
                                                <span ng-show="(AddPayment.EMAIL_ID.$invalid && (AddPayment.EMAIL_ID.$touched || AddPayment.EMAIL_ID.$dirty))">
                                                    <span class="error" ng-show="AddPayment.EMAIL_ID.$error.required">Email Id is required</span>
                                                    <span class="error" ng-show="AddPayment.EMAIL_ID.$error.email">Please enter a valid email.</span>
                                                </span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Shipping Address:</label>
                                                <textarea class="form-control" maxlength="200" name="COMPANY_COR_ADDRESS" ng-model="COMPANY_COR_ADDRESS" placeholder="Enter Shipping Address"></textarea>
                                                <span ng-show="(AddPayment.COMPANY_COR_ADDRESS.$invalid && (AddPayment.COMPANY_COR_ADDRESS.$touched || AddPayment.COMPANY_COR_ADDRESS.$dirty))">
                                                    <span class="error" ng-show="AddPayment.COMPANY_COR_ADDRESS.$error.required">Shipping Address is required</span>
                                                </span>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">Billing Address:</label><label style="color:red;">*</label>
                                                <textarea class="form-control" maxlength="200" name="COMPANY_REG_ADDRESS" ng-model="COMPANY_REG_ADDRESS" placeholder="Enter Billing Address" required></textarea>
                                                <span ng-show="(AddPayment.COMPANY_REG_ADDRESS.$invalid && (AddPayment.COMPANY_REG_ADDRESS.$touched || AddPayment.COMPANY_REG_ADDRESS.$dirty))">
                                                    <span class="error" ng-show="AddPayment.COMPANY_REG_ADDRESS.$error.required">Billing Address is required</span>
                                                </span>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">Zip Code:</label><label style="color:red;">*</label>
                                                <input type="number" name="ZIP_CODE" ng-model="ZIP_CODE" ng-pattern="/^[1-9]{1}[0-9]{2}[0-9]{3}$/" onkeypress="if(this.value.length==6) return false;" max="999999" maxlength="6" onkeyup="if(parseInt(this.value)>999999){ this.value =999999; return false; }" class="form-control" placeholder="Enter Zip Code" required />
                                                <span ng-show="(AddPayment.ZIP_CODE.$invalid && (AddPayment.ZIP_CODE.$touched || AddPayment.ZIP_CODE.$dirty))">
                                                    <span class="error" ng-show="AddPayment.ZIP_CODE.$error.required">Zip Code is required</span>
                                                    <span class="error" ng-show="AddPayment.ZIP_CODE.$error.number">Enter numbers only</span>
                                                    <span class="error" ng-show="AddPayment.ZIP_CODE.$error.pattern">Zip Code is invalid</span>
                                                </span>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">Type Of Entity:</label>
                                                <select name="COMPANY_TYPE" class="form-control" ng-model="COMPANY_TYPE" id="COMPANY_TYPE">
                                                    <option value="">Select Type Of Entity</option>
                                                    <option value="Propriatory">Propriatory</option>
                                                    <option value="Pvt.Ltd">Pvt.Ltd</option>
                                                    <option value="Partnership">Partnership</option>
                                                </select>
                                                <span ng-show="(AddPayment.COMPANY_TYPE.$invalid && (AddPayment.COMPANY_TYPE.$touched || AddPayment.COMPANY_TYPE.$dirty))">
                                                    <span class="error" ng-show="AddPayment.COMPANY_TYPE.$error.required">Type Of Entity is required</span>
                                                </span>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">PAN No:</label><label style="color:red;">*</label>
                                                <input id="PAN" type="text" name="PAN_NO" ng-model="PAN_NO" @*minlength="10"*@ maxlength="10" @*ng-pattern="/^([a-zA-Z]){3}(P|C|H|F|A|T|B|L|J|G)[a-zA-Z]([0-9]){4}[a-zA-Z]$/"*@ @*ng-pattern="/^([A-Z]){5}([0-9]){4}([A-Z]){1}$/"*@ class="form-control" placeholder="Enter PAN No" required />
                                                <span ng-show="(AddPayment.PAN_NO.$invalid && (AddPayment.PAN_NO.$touched || AddPayment.PAN_NO.$dirty))">
                                                    <span class="error" ng-show="AddPayment.PAN_NO.$error.required">PAN Number is required</span>
                                                    <span class="error" ng-show="AddPayment.PAN_NO.$error.pattern">Invalid PAN Number</span>
                                                </span>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">PNDT No:</label>
                                                <input type="text" name="PNDT_NO" ng-model="PNDT_NO" @*ng-pattern="/^[ A-Za-z0-9_@('@')./#&+-]*$/"*@ maxlength="100" class="form-control" placeholder="Enter PNDT No." />
                                                <span ng-show="(AddPayment.PNDT_NO.$invalid && (AddPayment.PNDT_NO.$touched || AddPayment.PNDT_NO.$dirty))">
                                                    <span class="error" ng-show="AddPayment.PNDT_NO.$error.required">PNDT Number is required</span>
                                                    <span class="error" ng-show="AddPayment.PNDT_NO.$error.pattern">Invalid PNDT Number</span>
                                                </span>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">GST No:</label>
                                                <input id="GSTN" type="text" name="GST_NO" @*minlength="15"*@ maxlength="15" ng-model="GST_NO" @*ng-pattern="/^([0][1-9]|[1-2][0-9]|[3][0-8])[A-Z]{3}[ABCFGHLJPTF]{1}[A-Z]{1}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$/"*@ class="form-control" placeholder="Enter GST No" />
                                                <span ng-show="(AddPayment.GST_NO.$invalid && (AddPayment.GST_NO.$touched || AddPayment.GST_NO.$dirty))">
                                                    <span class="error" ng-show="AddPayment.GST_NO.$error.required">GST Number is required</span>
                                                    <span class="error" ng-show="AddPayment.GST_NO.$error.pattern">Invalid GST Number</span>
                                                </span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">TIN No:</label>
                                                <input id="TIN" type="text" name="TIN_NO" @*minlength="15"*@ maxlength="15" ng-model="TIN_NO" @*ng-pattern="/^([0][1-9]|[1-2][0-9]|[3][0-8])[A-Z]{3}[ABCFGHLJPTF]{1}[A-Z]{1}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$/"*@ class="form-control" placeholder="Enter Tin No." />
                                                <span ng-show="(AddPayment.TIN_NO.$invalid && (AddPayment.TIN_NO.$touched || AddPayment.TIN_NO.$dirty))">
                                                    <span class="error" ng-show="AddPayment.TIN_NO.$error.required">TIN Number is required</span>
                                                    <span class="error" ng-show="AddPayment.TIN_NO.$error.pattern">Invalid TIN Number</span>
                                                </span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Company Prefix:</label><label style="color:red;">*</label>
                                                <input type="text" name="COMPANY_PREFIX" ng-model="COMPANY_PREFIX" maxlength="10" ng-pattern="/^[A-Z]{2,10}$/" class="form-control" placeholder="Enter Company Prefix" required />
                                                <span ng-show="(AddPayment.COMPANY_PREFIX.$invalid && (AddPayment.COMPANY_PREFIX.$touched || AddPayment.COMPANY_PREFIX.$dirty))">
                                                    <span class="error" ng-show="AddPayment.COMPANY_PREFIX.$error.required">Company Prefix is required</span>
                                                    <span class="error" ng-show="AddPayment.COMPANY_PREFIX.$error.pattern">Enter valid Company Prefix</span>
                                                </span>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label class="control-label">Upload Company Letter Head:</label><label style="color:red;">*</label>
                                                <input type="file" ng-model="COMPANY_LETTERHEAD" class="form-control" accept="image/*" style="height:38px;" id="COMPANY_LETTERHEAD">
                                                <span ng-show="(AddPayment.COMPANY_LETTERHEAD.$invalid && (AddPayment.COMPANY_LETTERHEAD.$touched || AddPayment.COMPANY_LETTERHEAD.$dirty))">
                                                    <span class="error" ng-show="AddPayment.COMPANY_LETTERHEAD.$error.required">Company Letter Head is required</span>
                                                </span>
                                                <span>
                                                    <img id="COMPANY_LETTERHEAD_PREVIEW" src="{{COMPANY_LETTERHEAD}}" height="200" width="300" style="color:red" alt="Upload Company Letter Head Only In Jpeg,Png,Jpg Format.  Size Should Be Less Than 2 MB" />
                                                </span>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">Upload Company Stamp:</label><label style="color:red;">*</label>
                                                <input type="file" ng-model="COMPANY_SEAL" class="form-control" accept="image/*" style="height:38px;" id="COMPANY_SEAL">
                                                <span ng-show="(AddPayment.COMPANY_SEAL.$invalid && (AddPayment.COMPANY_SEAL.$touched || AddPayment.COMPANY_SEAL.$dirty))">
                                                    <span class="error" ng-show="AddPayment.COMPANY_SEAL.$error.required">Company Stamp is required</span>
                                                </span>
                                                <span>
                                                    <img id="COMPANY_SEAL_PREVIEW" src="{{COMPANY_SEAL}}" height="200" width="300" style=" color:red" alt="Upload Company Stamp Only In Jpeg,Png,Jpg Format.  Size Should Be Less Than 2 MB" />
                                                </span>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label class="control-label">Upload Company P.N.D.T Certificate:</label>
                                                <input class="form-control" ng-model="COMPANY_PNDT_CERTIFICATE" type="file" accept="image/*" style="height:38px;" id="COMPANY_PNDT_CERTIFICATE" />
                                                <span ng-show="(AddPayment.COMPANY_PNDT_CERTIFICATE.$invalid && (AddPayment.COMPANY_PNDT_CERTIFICATE.$touched || AddPayment.COMPANY_PNDT_CERTIFICATE.$dirty))">
                                                    <span class="error" ng-show="AddPayment.COMPANY_PNDT_CERTIFICATE.$error.required">Company Company P.N.D.T Certificate</span>

                                                </span>
                                                <span>
                                                    <img id="COMPANY_PNDT_CERTIFICATE_PREVIEW" src="{{COMPANY_PNDT_CERTIFICATE}}" height="200" width="300" style="color:red" alt="Upload PNDT Certificate Only In Jpeg,Png,Jpg Format.  Size Should Be Less Than 2 MB" />
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group col-md-12">
                                    <button type="button" class="btn btn-sm" style="background-color:green;font-size:14px;color:white" ng-disabled="AddPayment.$invalid" ng-click="AddAdmin()">{{Admin_Action}}</button>
                                    <input type="button" value="Cancel" ng-click="Cancel()" class="btn btn-danger btn-sm" data-dismiss="modal" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>



@section scripts
{
    <link href="~/css/Paging.css" rel="stylesheet" />
    <script src="~/AngularJs/CompanyMaster.js"></script>


    <script>
        function checkNumber(check) {
            var a = check.value;
            //var a = document.getElementById('txt_contact_no').value;
            //var b = document.getElementById('txt_contact_no2').value;
            //var x=check.which;
            //var x = a.charCode;
            //var x = a.keyCode;
            if (!(a >= 48 || a <= 57)) {

                alert("Enter only Numbers");
                return false;
            }
            else if (a == "" || a == null) {

                alert("field is Blank");
                return false;
            }
            else if (a.length < 10) {
                alert("Enter Minimum 10 Characters");
                return false;
            }
            //alert("done");
            return true;
        }
    </script>

    <!--<script>
        function CompanyMasterCtrl($scope) {
      $scope.emailFormat = '';-->
    @*'/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/';*@
    <!--}
    </script>-->

}