@{
    ViewBag.Title = "Details";
}




<section>

    <div class="table-responsive" style="background-color:white;">
        <div style="margin-top:10px;margin-bottom:10px;margin-left:183px;">
            <b>Employee Details </b>
        </div>
        <table id="DataTable" class="table table-bordered bordered table-striped table-condensed datatable" style="font-size: 0.8rem; width:90%;margin-left:19px;">

            <tr>
                <th>Emp Id</th>
                <td>01</td>
            </tr>
            <tr>
                <th> Full Name</th>
                <td>Manoj Patil</td>
            </tr>
            <tr>
                <th>Contact No</th>
                <td>7378764510</td>
            </tr>
            <tr>
                <th>Current Address</th>
                <td>At Shahir Lane, Mumbai</td>
            </tr>
            <tr>
                <th>Permanent Address</th>
                <td>At Rajiv Gandhi Nagar,jk-2 Dwarka, Nashik</td>
            </tr>
            <tr>
                <th> Zip Code</th>
                <td>422011</td>
            </tr>
            <tr>
                <th> Department</th>
                <td>Administration</td>
            </tr>
            <tr>
                <th> Designation</th>
                <td>Administrator</td>
            </tr>
            <tr>
                <th> City</th>
                <td>Mumbai</td>
            </tr>
            <tr>
                <th> Status</th>
                <td style="color:green">Active</td>
            </tr>
            <tr>
                <th> Email Id</th>
                <td>manojpatil@gmail.com</td>
            </tr>
            <tr>
                <th>Married Status </th>
                <td> Unmarrid</td>
            </tr>
            <tr>
                <th>Physical Disability </th>
                <td> No</td>
            </tr>
            <tr>
                <th>Date Of Birth </th>
                <td> 07/05/89</td>
            </tr>
            <tr>
                <th>Username </th>
                <td> MP1023</td>
            </tr>
            <tr>
                <th>Password </th>
                <td> MP-1023</td>
            </tr>
            <tr>
                <th>Date of Joining </th>
                <td> 15/02/22</td>
            </tr>
            <tr>
                <th>Reg. Date </th>
                <td> 15/01/21</td>
            </tr>
            <tr>
                <th>Salary </th>
                <td> 12,000</td>
            </tr>
            <tr>
                <th>Bank Name </th>
                <td> State Bank Of Sate</td>
            </tr>
            <tr>
                <th>Account No. </th>
                <td> 56124875</td>
            </tr>
            <tr>
                <th>IFSC Code. </th>
                <td> SBIN0001469</td>
            </tr>
            <tr>
                <th>Adhar No. </th>
                <td> 5756 8947 4523</td>
            </tr>
            <tr>
                <th>PAN No. </th>
                <td> BJk124S</td>
            </tr>
            <tr>
                <th>Employee Image </th>
                <td> <img src="~/Loginpage/images/user.png" height="70" width="100" /> </td>
            </tr>
        </table>






    </div>
    <link href="~/dist/css/Imagestylesheet.css" rel="stylesheet" />
    <link href="~/dist/css/Paging.css" rel="stylesheet" />

</section>












