
@{
    ViewBag.Title = "Index";
}


<style>
    .table td, .table th {
        padding: 0.50rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        font-size: 12px;
    }
</style>

<style>
    .table td, .table th {
        padding: 0.50rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        font-size: 12px;
    }

    #example-table thead {
        background-color: #BE7833;
        position: sticky;
        z-index: 1024;
        color: white;
        top: 0;
    }

    .table-responsive {
        max-height: 400px;
        overflow-y: auto;
    }
</style>

<style type="text/css">
    body {
        font-family: Arial;
        font-size: 10pt;
    }

    .error {
        color: Red;
    }
</style>

<section ng-controller="ProductCtrl">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-1">
                                <a ng-click="GoToPreviousNextPage('Previous')" class="btn btn-xs" style="background-color: green; color: white "><span class="fa fa-arrow-left"></span></a>
                            </div>
                            <div class="col-lg-9" style="margin-left:-50px">
                                <h3 class="card-title"><b>Medtronic {{ACC_TYPE_NAME}} Accessories Master</b></h3>
                            </div>
                            <div class="col-lg-2" style="text-align:center">
                                <button type="button" class="btn btn-sm pull-left" style="background-color: green; color: white" data-toggle="modal" ng-click="AdminClick()">Add Accessories</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-3"></div> <div class="col-3"></div>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="Search Product" ng-model="SEARCH_NAME" ng-keyup="SearchAdmin()">
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="example-table" style="font-size: 0.9rem;color:black;">
                            <thead>
                                <tr style="background-image: linear-gradient(to right,#13b757f2,#eba60a); color: black ">
                                    <th>Sr.No</th>
                                    <th>Accessories Name</th>
                                    <th>Accessories Code</th>
                                    @*<th>Accessories Type Id</th>*@
                                    <th>HSN Code</th>
                                    <th>Product Name</th>
                                    <th>MRP</th>
                                    <th>Basic Price</th>
                                    <th>GST Percentage(%)</th>
                                    <th>Status</th>
                                    <th>Reg Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Acc in AccessoriesList">
                                    <td>{{page*30+$index+1}}</td>
                                    <td>{{Acc.ACCESSORY_NAME}}</td>
                                    <td>{{Acc.ACCESSORY_CODE}}</td>
                                    @*<td>{{Acc.MED_ACCESSORY_TYPE_ID}}</td>*@
                                    <td>{{Acc.HSN_CODE}}</td>
                                    <td>{{Acc.PRODUCT_NAME}}</td>
                                    <td>{{Acc.MRP}}</td>
                                    <td>{{Acc.BASIC_PRICE}}</td>
                                    <td>{{Acc.GST_PERCENTAGE}}</td>
                                    <td><a href="" ng-confirm-click="Do you want to change status ?" confirmed-click="ChangeStatus(Acc)"><b ng-style="Acc.STATUS=='Active'?{'color':'green'}:{'color':'red'}">{{Acc.STATUS}}</b></a></td>
                                    <td>{{Acc.REG_DATE}}</td>
                                    <td>
                                        <a data-toggle="modal" ng-click="getForUpdate(Acc)" title="Update" class="btn btn-xs btn-success">Edit </a>
                                    </td>
                                </tr>
                                <tr ng-if="!pager.pages.length">
                                    <td colspan="11" style="color:black; text-align:center;"><h5><b>No record found!</b></h5></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul ng-if="pager.pages.length" class="pagination" style="margin-left:30px;">
                        <li ng-class="{disabled:pager.currentPage === 1}">
                            <a ng-click="setPage(1)">First</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === 1}">
                            <span ng-if="pager.currentPage!=1"><a ng-click="setPage(pager.currentPage - 1)">Previous</a></span>
                            <span ng-if="pager.currentPage==1">Previous</span>
                        </li>
                        <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                            <a ng-click="setPage(page)">{{page}}</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                            <a ng-click="setPage(pager.currentPage + 1)">Next</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                            <a ng-click="setPage(pager.totalPages)">Last</a>
                        </li>
                    </ul>
                </div>
                <div class="modal fade" id="Admin_Addupdate">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header" style="background-image: linear-gradient(to right,#13b757f2,#eba60a); color: white; padding: 10px; ">

                                <h4 class="modal-title"><b> {{Admin_Action}}</b></h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="card-body">
                                    <form role="form" name="AddPayment" ng-submit="AddPayment(AddPayment.$valid)" data-toggle="validator">
                                        <div class="row">
                                            <input type="text" class="form-control" ng-model="MED_ACC_ID" style="display:none">
                                            <div class="col-lg-6">
                                                <label>Accessories Name :</label><label style="color:red;">*</label>
                                                <input type="text" ng-model="ACCESSORY_NAME" name="ACCESSORY_NAME" maxlength="400" placeholder="Enter Accessories Name" class="form-control" required />
                                                <span ng-show="(AddPayment.ACCESSORY_NAME.$invalid && (AddPayment.ACCESSORY_NAME.$touched || AddPayment.ACCESSORY_NAME.$dirty))">
                                                    <span class="error" ng-show="AddPayment.ACCESSORY_NAME.$error.required">Accessories Name is required</span>
                                                </span>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Accessories Code :</label><label style="color:red;">*</label>
                                                <input type="text" ng-model="ACCESSORY_CODE" name="ACCESSORY_CODE" maxlength="400" placeholder="Enter Accessories Code" class="form-control" required />
                                                <span ng-show="(AddPayment.ACCESSORY_CODE.$invalid && (AddPayment.ACCESSORY_CODE.$touched || AddPayment.ACCESSORY_CODE.$dirty))">
                                                    <span class="error" ng-show="AddPayment.ACCESSORY_CODE.$error.required">Accessories Code is required</span>
                                                </span>
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="control-label">HSN Code:</label>@*<label style="color:red;">*</label>*@
                                                <input type="text" name="HSN_CODE" ng-model="HSN_CODE" maxlength="50" class="form-control" placeholder="Enter HSN Code" />
                                                @*<span ng-show="(AddPayment.HSN_CODE.$invalid && (AddPayment.HSN_CODE.$touched || AddPayment.HSN_CODE.$dirty))">
                                                    <span class="error" ng-show="AddPayment.HSN_CODE.$error.required">HSN Code is required</span>
                                                </span>*@
                                            </div>
                                            <div class="form-group col-lg-6">
                                                <label class="control-label">Select Product:</label><label style="color:red;">*</label>
                                                <select ng-model="P_ID" id="P_ID" name="P_ID" class="form-control"
                                                        ng-options="prod.P_ID as prod.PRODUCT_NAME for prod in ProductList"
                                                        ng-selected="prod.P_ID == P_ID" required>
                                                    <option value="">Select Product</option>
                                                </select>
                                                <span ng-show="(AddPayment.P_ID.$invalid && ( AddPayment.P_ID.$touched || AddPayment.P_ID.$dirty))">
                                                    <span class="error" ng-show="AddPayment.P_ID.$error.required">
                                                        Product is required
                                                    </span>
                                                </span>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>MRP :</label><label style="color:red;">*</label>
                                                <input class="form-control" type="number" step="0.01" id="MRP" name="MRP" ng-model="MRP" min="0" onkeyup="if(parseInt(this.value)<0){ this.value =0; return false; }" required />
                                                <span ng-show="(AddPayment.MRP.$invalid && (AddPayment.MRP.$touched || AddPayment.MRP.$dirty))">
                                                    <span class="error" ng-show="AddPayment.MRP.$error.required">MRP is required</span>
                                                </span>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Basic Price:</label><label style="color:red;">*</label>
                                                <input class="form-control" type="number" step="0.01" id="BASIC_PRICE" name="BASIC_PRICE" ng-model="BASIC_PRICE" min="0" onkeyup="if(parseInt(this.value)<0){ this.value =0; return false; }" required />
                                                <span ng-show="(AddPayment.BASIC_PRICE.$invalid && (AddPayment.BASIC_PRICE.$touched || AddPayment.BASIC_PRICE.$dirty))">
                                                    <span class="error" ng-show="AddPayment.BASIC_PRICE.$error.required">Basic Price is required</span>
                                                </span>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>GST Percentage(%) :</label><label style="color:red;">*</label>
                                                <input class="form-control" type="number" step="0.01" min="0" max="100" name="GST_PERCENTAGE" id="GST_PERCENTAGE" ng-model="GST_PERCENTAGE" onkeyup="if(parseInt(this.value)<0){ this.value =0; return false; } if(parseInt(this.value)>max){ this.value =max; return false; }" required />
                                                <span ng-show="(AddPayment.GST_PERCENTAGE.$invalid && (AddPayment.GST_PERCENTAGE.$touched || AddPayment.GST_PERCENTAGE.$dirty))">
                                                    <span class="error" ng-show="AddPayment.GST_PERCENTAGE.$error.required">GST Percentage(%) is required</span>
                                                </span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group col-md-12">
                                    <button type="button" class="btn btn-sm" style="background-color:green;font-size:14px;color:white" ng-disabled="AddPayment.$invalid" ng-click="AddAdmin()">{{Admin_Action}}</button>
                                    <input type="button" value="Cancel" ng-click="Cancel()" class="btn btn-danger btn-sm" data-dismiss="modal" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section scripts
{
    <script src="~/AngularJs/MedtronicAccessories.js"></script>
    <link href="~/css/Paging.css" rel="stylesheet" />
}


