
@{
    ViewBag.Title = "Index";
}
@if (ViewBag.ProductImagePath != null)
{
    <img src="@Url.Content(ViewBag.ProductImagePath)" style="height: 100px; width: 100px; object-fit: contain;" />
}


@*<style>
    .table td, .table th {
        padding: 0.50rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        font-size: 12px;
    }
</style>*@

<style>
    .table td, .table th {
        padding: 0.50rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
        font-size: 12px;
    }

    #example-table thead {
        background-color: #BE7833;
        position: sticky;
        z-index: 1024;
        color: white;
        top: 0;
    }

    .table-responsive {
        max-height: 400px;
        overflow-y: auto;
    }
</style>


<section ng-controller="ProductCtrl">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-1">
                                <a ng-click="GoToPreviousNextPage('Previous')" class="btn btn-xs" style="background-color: green; color: white "><span class="fa fa-arrow-left"></span></a>
                            </div>
                            <div class="col-lg-9" style="margin-left:-50px">
                                <h3 class="card-title"><b>Mindray Product Master</b></h3>
                            </div>
                            <div class="col-lg-2" style="text-align:center">
                                <button type="button" class="btn btn-sm pull-left" style="background-color: green; color: white" data-toggle="modal" ng-click="AdminClick()">Add Product</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3">
                        </div>
                        <div class="col-3"></div> <div class="col-3"></div>
                        <div class="col-3">
                            <input type="text" class="form-control" placeholder="Search Product" ng-model="FARMER_SEARCH" ng-keyup="SearchAdmin()">
                        </div>
                    </div>
                    <br>
                    <div class="table-responsive">
                        <table class="table table-bordered" id="example-table" style="font-size: 0.9rem;color:black;">
                            <thead>
                                <tr style="background-image: linear-gradient(to right,#13b757f2,#eba60a); color: black ">
                                    <th>Sr.No</th>
                                    <th>Product Model Name</th>
                                    <th>HSN Code</th>
                                    <th><b>Image</b></th>
                                    <th>Status</th>
                                    <th>Reg Date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="Product in ProductList">
                                    <td>{{page*30+$index+1}}</td>
                                    <td>{{Product.PRODUCT_NAME}}</td>
                                    <td>{{Product.HSN_CODE}}</td>
                                    <td><img src="{{Product.PRODUCT_IMAGE}}" style="height:100px;width:100px;" /></td>
                                    <td><a href="" ng-confirm-click="Do you want to change status ?" confirmed-click="ChangeStatus(Product)"><b ng-style="Product.STATUS=='Active'?{'color':'green'}:{'color':'red'}">{{Product.STATUS}}</b></a></td>
                                    <td>{{Product.REG_DATE}}</td>
                                    <td>
                                        <a data-toggle="modal" ng-click="getForUpdate(Product)" title="Update" class="btn btn-xs btn-success">Edit </a>
                                    </td>
                                </tr>
                                <tr ng-if="!pager.pages.length">
                                    <td colspan="7" style="color:black; text-align:center;"><h5><b>No record found!</b></h5></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <ul ng-if="pager.pages.length" class="pagination" style="margin-left:30px;">
                        <li ng-class="{disabled:pager.currentPage === 1}">
                            <a ng-click="setPage(1)">First</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === 1}">
                            <span ng-if="pager.currentPage!=1"><a ng-click="setPage(pager.currentPage - 1)">Previous</a></span>
                            <span ng-if="pager.currentPage==1">Previous</span>
                        </li>
                        <li ng-repeat="page in pager.pages" ng-class="{active:pager.currentPage === page}">
                            <a ng-click="setPage(page)">{{page}}</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                            <a ng-click="setPage(pager.currentPage + 1)">Next</a>
                        </li>
                        <li ng-class="{disabled:pager.currentPage === pager.totalPages}">
                            <a ng-click="setPage(pager.totalPages)">Last</a>
                        </li>
                    </ul>
                </div>


                <div class="modal fade" id="Admin_Addupdate">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header" style="background-image: linear-gradient(to right,#13b757f2,#eba60a); color: white; padding: 10px; ">

                                <h4 class="modal-title"><b> {{Admin_Action}}</b></h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="card-body">
                                    <form role="form" name="AddPayment" ng-submit="AddPayment(AddPayment.$valid)" data-toggle="validator">
                                        <div class="row">
                                            <input type="text" class="form-control" ng-model="P_ID" style="display:none">
                                            <div class="col-lg-4">
                                                <label class="control-label">Select Product Category:</label><label style="color:red;">*</label>
                                                <select ng-model="CAT_ID" id="CAT_ID" class="form-control" required>
                                                    <option value="">Select Category</option>
                                                    <option ng-repeat="Category in CategoryList" ng-value="{{Category.CAT_ID}}">{{Category.CAT_NAME}}</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-8">
                                                <label>Product Name :</label><label style="color:red;">*</label>
                                                <input type="text" ng-model="PRODUCT_NAME" name="PRODUCT_NAME" maxlength="400" placeholder="Enter Product Name" class="form-control" required />
                                                <span ng-show="(AddPayment.PRODUCT_NAME.$invalid && (AddPayment.PRODUCT_NAME.$touched || AddPayment.PRODUCT_NAME.$dirty))">
                                                    <span class="error" ng-show="AddPayment.PRODUCT_NAME.$error.required">Product Name is required</span>
                                                </span>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>HSN Code:</label>
                                                <input type="text" name="HSN_CODE" ng-model="HSN_CODE" maxlength="50" class="form-control" placeholder="Enter Product HSN Code" />
                                            </div>

                                            @*<div class="col-lg-12">
                                                    <label>Product Image :</label><label style="color:red;">*</label>
                                                    <input type="file" src=""  name="PRODUCT_IMAGE" class="form-control" accept="image/png, image/jpg, image/jpeg" style="height:38px;" id="product_photo">

                                                    <a href="#" style="display:none" id="divProfile">
                                                        <img src="{{_Party.PRODUCT_IMAGE}}" style="height: 100px; width: 100px; object-fit: contain;">&nbsp; &nbsp; &nbsp;
                                                    </a>
                                                </div>*@
                                            <div class="col-lg-12">
                                                <label>Product Image :</label><label style="color:red;">*</label>
                                                <input type="file" name="PRODUCT_IMAGE" class="form-control" style="height:38px;" id="product_photo" accept="image/*">

                                                <!-- Preview Section -->
                                                <a href="#" style="display:none" id="divProfile">
                                                    <img src="#" id="previewImage" style="height: 100px; width: 100px; object-fit: contain;">
                                                </a>
                                            </div>
                                            <div class="col-lg-12">
                                                <label>Product Description(Specification) :</label>
                                                <textarea class="form-control" name="DESCRIPTION" id="editor_AnswerEng" ng-model="DESCRIPTION" placeholder="Enter Description"></textarea>

                                            </div>
                                            <div class="col-lg-12">
                                                <label>Product Configuration :</label><label style="color:red;">*</label>
                                                <textarea class="form-control" name="CONFIGURATION" id="editor_AnswerEngConf" ng-model="CONFIGURATION" placeholder="Enter Configuration"></textarea>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group col-md-12">
                                    <button type="button" class="btn btn-sm" style="background-color:green;font-size:14px;color:white" ng-disabled="AddPayment.$invalid" ng-click="AddAdmin()">{{Admin_Action}}</button>
                                    <input type="button" value="Cancel" ng-click="Cancel()" class="btn btn-danger btn-sm" data-dismiss="modal" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<script>
    document.getElementById('product_photo').addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const imgElement = document.getElementById('previewImage');
                imgElement.src = e.target.result;
                document.getElementById('divProfile').style.display = 'block';
            }
            reader.readAsDataURL(file);
        }
    });
</script>
<script>

    $(document).ready(function () {
        $("#uploadButton").click(function () {
            var formData = new FormData();
            var files = $("#fileInput").get(0).files;

            if (files.length > 0) {
                formData.append("PRODUCT_IMAGE", files[0]);
                formData.append("productId", $("#productId").val());

                $.ajax({
                    url: '/MindrayProduct/UploadProductImage',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        alert("Image uploaded successfully!");
                    },
                    error: function () {
                        alert("An error occurred while uploading the image.");
                    }
                });
            } else {
                alert("Please select a file.");
            }
        });
    });


</script>


@section scripts
{
    <script src="~/AngularJs/MindrayProduct.js"></script>
    <link href="~/css/Paging.css" rel="stylesheet" />
    <script src="~/ckeditor/ckeditor.js"></script>
}

